<h1 style="color:darkblue;">Bienvenidos al servidor express - Joyería Puga</h1> <br>
<h1>Seleccione una opción</h1>

<button id="viewProduct" class="btn btn-warning"> Ver Productos</button>
<button id="addProduct" class="btn btn-warning"> Ir a Cargar Productos</button>
<button id="viewChat" class="btn btn-warning"> Ir al Chat</button>
<button id="viewCart" class="btn btn-warning"> Ver Carrito de prueba</button>

<script src="/js/index.js"></script>
