<h1>Bienvenidos al servidor express - Joyería Puga</h1> <br>
<div>
    <h1>Reseteo de su contraseña</h1>
    <h4>Ingrese la nueva contraseña</h4>
    <form id="passForm">
        <div class="row">
            <div class="mb-3 col">
                <label>Contraseña</label>
                <input name="password" class="form-control" type="password" required>
                <br>
                <input value="Cambiar" type="submit" class="btn btn-warning">
            </div>
        </div>
    </form>
    <p>Volver al <a href="/login">Login</a></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reset.js"></script>