<h1>Bienvenidos al servidor express - Joyería Puga</h1> <br>
<div>
    <h1>Reseteo de su contraseña</h1>
    <h4>Ingrese el correo electrónico registrado para enviar el link de reseteo de su contraseña</h4>
    <form id="loginForm">
        <div class="row">
            <div class="mb-3 col">
                <label class="form-label">Email</label>
                <input name="email" class="form-control">
                <br>
                <input value="Validar" type="submit" class="btn btn-warning">
            </div>
        </div>
    </form>
    <p>Volver al <a href="/login">Login</a></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reset.js"></script>